@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET 💜  lol</h1>
    <p class="lead">Example .NET app to Azure App Service. HAHAHA</p>
</div>
