@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET 💜  lol plss work</h1>
    <p class="lead">Blah Blah Blah</p>
    <p class="lead">One Last Test2</p>
</div>
